img{
	width: 100px;
}
ul{
	list-style: none;
}
a{
	color: #3D58A6;
	font-size: 22px;
	text-decoration: none;
}
span{
	color: #EE4036;
}
span img{
	width: 270px;
}
span h1{
	background-color: #3D58A6;
	color: #FFFFFF;
	font-size: 48pt;


}
